            <div class="footer">
                <p>
                    Tijdelijke link naar Trello bord terwijl de app onder constructie is. <a href="https://trello.com/b/OiSpVm58">Klik hier.</a><br>
                    Tijdelijke link naar Github repository terwijl de app onder constructie is. <a href="https://github.com/BennieKoops/de-zoete-beurs">Klik hier.</a>
                </p>
            </div>
        </div>
    </body>
</html>