<% include partials/header %>

        <div class="ui container">
            <div>
                <h1>
                    Welkom bij de Zoete beurs
                </h1>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Aut tempore ratione non asperiores repudiandae ipsa maxime minus aliquid necessitatibus dolores eum corporis rem accusamus quos voluptatem ullam a doloremque distinctio omnis eos odio eius, cumque nam. 
                    Eligendi eius sint eum omnis. 
                    Dolor cumque et tempora ducimus ab dicta voluptatem cupiditate sint hic id quibusdam repellendus iusto asperiores magnam quia dolores omnis aspernatur adipisci, esse beatae voluptates placeat accusantium tenetur amet. 
                    Tempore nemo similique non voluptas nam eum corrupti maxime, cum perspiciatis dicta asperiores qui rem nisi sint explicabo eveniet debitis deserunt sunt odio. 
                    Est vitae sequi nesciunt et aliquid sit?
                </p>
            </div>
        </div>

<% include partials/footer %>