i.icon {
    font-size: 2.5em;
}

.pagina-container {
    position: relative;
    min-height: 80vh;
}

.afbeelding.catchall {
    width: 25%;
}

.ui.stackable.two.column.grid {
    margin-bottom: 5em;
}

.PP {
    margin-right: 10px;
}

.footer {
    position: fixed;
    height: 5em;
    background-color: #dcdcdc;
    margin-top: 5em;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}