<% include ../partials/header %>

            <header>
                <h1>Menu</h1>
            </header>
            <div>
                <h4>nieuw</h4>
                <p>
                    Deze knoppen staan hier tijdelijk totdat accounts zijn geïmplementeerd <br>
                    Maak een nieuw gerecht <a href="/menu/gerechten/new"><button class="ui basic button">Klik hier</button></a><br>
                    Maak een nieuw drankje <a href="/menu/drinken/new"><button class="ui basic button">Klik hier</button></a>
                </p>
            </div>
            <div>
                <H3>Soepen</H3>
                <% 
                menu.soepen.forEach(soep => {
                    %>
                        <h4><%= soep.naamGerecht %></h4>
                        <label>€ <%= soep.prijs %></label>
                    <%
                });
                menu.voorgerechten.forEach(voorgerecht => {
                    %>
                        <h4><%= voorgerecht.naamGerecht %></h4>
                    <%
                })
                %>
            </div>

<% include ../partials/footer %>