<% include ../partials/header %>

            <header>
                <h1>Menu</h1>
            </header>
            <div>
                <h4>nieuw</h4>
                <p>
                    Deze knoppen staan hier tijdelijk totdat accounts zijn geïmplementeerd <br>
                    Maak een nieuw gerecht <a href="/menu/gerechten/new"><button class="ui basic button">Klik hier</button></a><br>
                    Maak een nieuw drankje <a href="/menu/drinken/new"><button class="ui basic button">Klik hier</button></a>
                </p>
            </div>

<% include ../partials/footer %>